In [8]:
import pandas as pd
import numpy as np
#%|%
df = pd.read_csv("../Data/Crime_Incidents/Crime_Incidents_in_2017.csv",converters={'CENSUS_TRACT' : str})
df.head(10)

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-76.997558,38.894384,2111617,2017/02/06 20:11:14+00,EVENING,OTHERS,THEFT/OTHER,600 - 669 BLOCK OF MARYLAND AVENUE NE,400212.0,136281.0,...,008302 1,008302,Precinct 84,38.894376,-76.997556,CAPITOL HILL,2017/02/01 11:55:55+00,1970/01/01 00:00:00+00,508583921,02111617-01
1,-77.058663,38.906846,7093973,2017/06/03 12:54:27+00,DAY,OTHERS,THEFT F/AUTO,2900 - 2999 BLOCK OF N STREET NW,394912.0,137666.0,...,000100 4,000100,Precinct 5,38.906838,-77.058661,NaN,2017/06/03 11:54:03+00,2017/06/03 11:55:05+00,508583935,07093973-01
2,-77.018036,38.960747,9251904,2017/04/07 00:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,5800 - 5899 BLOCK OF 4TH STREET NW,398437.0,143648.0,...,001902 1,001902,Precinct 58,38.960739,-77.018034,NaN,2009/02/13 12:03:45+00,2009/02/13 12:03:43+00,508648875,09251904-01
3,-76.984955,38.915147,14060710,2017/03/13 00:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2000 - 2099 BLOCK OF FENWICK STREET NE,401305.0,138586.0,...,008803 1,008803,Precinct 76,38.915139,-76.984953,NaN,2014/05/01 19:32:00+00,2014/05/01 19:32:00+00,508797875,14060710-01
4,-77.008394,38.897203,16167245,2017/01/08 00:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1 - 99 BLOCK OF MASSACHUSETTS AVENUE NE,399272.0,136594.0,...,006202 1,006202,Precinct 130,38.897195,-77.008392,CAPITOL HILL,2016/10/02 02:33:43+00,2016/10/02 03:03:13+00,508889341,16167245-01
5,-77.023965,38.887571,16186364,2017/01/25 12:51:25+00,DAY,OTHERS,THEFT F/AUTO,700 - 999 BLOCK OF INDEPENDENCE AVENUE SW,397921.0,135525.0,...,010200 2,010200,Precinct 142,38.887563,-77.023963,SOUTHWEST,2016/11/01 14:18:00+00,2016/11/01 15:33:10+00,508891174,16186364-01
6,-77.023983,38.906444,16200706,2017/01/08 14:08:58+00,DAY,OTHERS,THEFT F/AUTO,1200 - 1299 BLOCK OF 9TH STREET NW,397920.0,137620.0,...,004902 2,004902,Precinct 129,38.906436,-77.023981,NaN,2016/11/26 12:46:22+00,2016/11/26 13:40:07+00,508891732,16200706-01
7,-77.027211,38.935098,16402582,2017/01/03 06:26:18+00,MIDNIGHT,OTHERS,THEFT/OTHER,3600 - 3699 BLOCK OF 10TH STREET NW,397641.0,140801.0,...,002900 1,002900,Precinct 42,38.935091,-77.027208,NaN,2016/12/22 12:10:50+00,2016/12/22 12:20:01+00,508892954,16402582-01
8,-77.066840,38.958954,16402583,2017/01/03 06:44:15+00,MIDNIGHT,OTHERS,THEFT/OTHER,5302 - 5329 BLOCK OF NEVADA AVENUE NW,394207.0,143451.0,...,001402 3,001402,Precinct 138,38.958947,-77.066838,NaN,2016/12/23 13:35:39+00,2016/12/23 17:35:55+00,508892955,16402583-01
9,-76.996175,38.890375,16402584,2017/01/03 07:02:06+00,DAY,OTHERS,THEFT/OTHER,1 - 99 BLOCK OF 7TH STREET NE,400332.0,135836.0,...,008200 1,008200,Precinct 85,38.890367,-76.996173,NaN,2016/12/21 14:55:30+00,2016/12/21 14:59:47+00,508892956,16402584-01

In [9]:
# test_code1 = '010300'
# test_code2 = '001702'
# test_code3 = '000902'
# answer_code1 = 'Census Tract 103'
# answer_code2 = 'Census Tract 17.02'
# answer_code3 = 'Census Tract 9.02'
def conversion(census_code):
    if(census_code != ''):
        new_code = census_code[:4] + '.' + census_code[4:]
        if(new_code.split('.')[1] == '00'):
            new_code = int(new_code.split('.')[0])
        else:
            new_code= float(new_code)
        return 'Census Tract ' + str(new_code)
    return ''

In [10]:
test = df['CENSUS_TRACT'].tolist()
len(test)

33091

In [11]:
new_column = []
for i in test:
    new_code = conversion(i)
    new_column.append(new_code)

In [12]:
df['CENSUS_KEY'] = new_column

df.to_csv('../Data/Cleaned/Crime_Incidents_in_2017.csv')