In [2]:
import pandas as pd
import numpy as np

In [31]:
population = pd.read_csv("C:/Users/Rohan/Desktop/FIT3179 ASM 2/FIT3179/Assignment/Data/Population Variable/Spreadsheet/ACS_2018_Population_Variables_Tract.csv")
poverty = pd.read_csv("C:/Users/Rohan/Desktop/FIT3179 ASM 2/FIT3179/Assignment/Data/Poverty Variable/ACS_2018_Poverty_Status_Variables_Tract.csv")
crimes = pd.read_csv("C:/Users/Rohan/Desktop/FIT3179 ASM 2/FIT3179/Assignment/Data/Cleaned/Crime_Incidents_in_2018_counted.csv")
median_income = pd.read_csv("C:/Users/Rohan/Desktop/FIT3179 ASM 2/FIT3179/Assignment/Data/Median Income/ACS_2018_Median_Household_Income_Variables_Tract.csv")
unemployment = pd.read_csv("C:/Users/Rohan/Desktop/FIT3179 ASM 2/FIT3179/Assignment/Data/Employment Status/ACS_2018_Employment_Status_Variables_Tract.csv")
crimes.columns = ['NAME','CRIME_COUNT']

In [32]:
crimes.head()

                 NAME  CRIME_COUNT
0      Census Tract 1          532
1  Census Tract 10.01          426
2  Census Tract 10.02           86
3    Census Tract 101          420
4    Census Tract 102          357

In [33]:
population = population[['NAME','B01001_001E']]
poverty=poverty[['NAME','B17020_002E']]
median_income = median_income[['NAME','B19049_001E']]
unemployment = unemployment[['NAME','B23025_calc_pctUnempE']]

In [34]:
poverty.dtypes
population.dtypes

NAME           object
B01001_001E     int64
dtype: object

In [35]:
all_data = population.merge(poverty,on="NAME",how="left")
all_data = all_data.merge(crimes,on="NAME",how="left")
all_data = all_data.merge(median_income,on="NAME",how="left")
all_data = all_data.merge(unemployment, on = 'NAME',how='left')

In [36]:
all_data.head()

,NAME,B01001_001E,B17020_002E,CRIME_COUNT,B19049_001E,B23025_calc_pctUnempE
0,Census Tract 1,5160,290,532,191146.0,2.4
1,Census Tract 2.01,3817,0,33,NaN,5.5
2,Census Tract 2.02,4541,599,579,170987.0,3.5
3,Census Tract 3,6334,1100,147,152120.0,2.6
4,Census Tract 4,1428,131,43,126731.0,0.7

In [37]:
all_data.columns = ['NAME','POPULATION','POVERTY_COUNT','CRIMES_COUNT','MEDIAN_INCOME','UNEMPLOYMENT']

In [38]:
all_data.to_csv('../Data/Cleaned/Crime_Incidents_in_2018_counted_new.csv')

In [36]:
all_data = None